body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-size: 70px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
.header{
    display: flex;
    margin-bottom: 100px;
}
.header p{
    font-size: 25px;
}
.text-color{
    color: orange;
}
.about-me-text-color{
    color: grey;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.half-width p{
    margin-bottom: 100px;
    text-align: justify;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    border-radius: 30px;
    padding: 20px 45px;
    color: white;
    font-size: 20px;
    font-weight: 400;
}
.upper-body{
    display: flex;
    margin-bottom: 100px;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-position: right;
}
.about-me{
    margin-top: 100px;
}
.about-me p{
    font-size: 18px;
    color: grey;
}
.text-deco{
    padding-right: 15%;
}
#body-img{
    width: 100%;
    padding-bottom: -5%;
}
.recipies{
    text-align: center;
    padding-left: 8%;
    padding-right: 8%;
}
.recipies p{
    font-size: 25px;
    color: grey;
}
.see-more{
    text-decoration: none;
}
.middle-body{
    display: flex;
    margin-bottom: 100px;
}
.tri-width{
    width: 30%;
    margin: 3%;
    padding: 1.5%;
    box-shadow: 1px 1px 15px rgb(201, 201, 201);
    border-radius: 25px;
}
.tri-width p{
    font-size: 18px;
    color: grey;
}
.tri-img{
    width: 100%;
}
.lower-body{
    display: flex;
    margin-bottom: 100px;
}
.lower-tri-width{
    width: 30%;
    margin: 3%;
    padding: 1.5%;
    text-align: center;
}
.footer{
    width: 100%;
    background-color: orange;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 20px;
    color: white;
}
.footer-text-color{
    color: black;
}